.platform {
  position: absolute;
  display: flex;
  z-index: 4; /* Detrás del jugador, pero en frente del background */
  pointer-events: none;
  filter: drop-shadow(0 8px 4px rgba(0, 0, 0, 0.3));
  animation: float 4s ease-in-out infinite;
}

.platform:nth-child(even) {
  animation-delay: 2s;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.tile {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
